.blogs_container {
  margin-top: 100px;
  padding-bottom: 50px;

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .box {
      min-width: 400px;
      max-width: 500px;
      width: 100%;
      flex: 1;

      .img_con {
        height: 300px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
      }

      .txt_con {
        padding: 10px 10px 0 10px;

        h3 {
          text-transform: capitalize;
        }

        p {
          line-height: 23px;
          padding: 10px 0;
        }
      }

      @media (max-width: 768px) {
        min-width: 100%;
      }

      @media (max-width: 500px) {
        .img_con {
          height: 230px;
        }
      }
    }
  }
}
