@import "../variables.scss";

.about_container {
  margin-top: 100px;
  padding-bottom: 50px;

  .wrapper {
    .info_section {
      display: flex;
      gap: 30px;
      align-items: center;

      .img_con {
        flex: 1;
        border-radius: 10px;
        overflow: hidden;
        height: 400px;
      }

      .txt_con {
        flex: 2;

        h1 {
          font-size: 30px;
        }

        h4 {
          font-size: 20px;
          font-weight: 400;
          padding-top: 10px;
          line-height: 23px;
          color: $primary_color;
        }

        .txt {
          display: flex;
          flex-direction: column;
          gap: 10px;
          line-height: 25px;
          padding: 15px 0 20px 0;
        }

        .socails {
          display: flex;
          gap: 10px;

          a {
            background: $text_color;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            padding: 15px 20px;
            color: white;
            font-size: 13px;
            transition: 0.4s ease;

            &:hover {
              padding: 15px 30px;
            }
          }
        }
      }

      @media (max-width: 900px) {
        flex-direction: column;
      }
    }

    .experience_section {
      margin-top: 70px;

      h2 {
        font-size: 20px;
      }

      .box_con {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .box {
          display: flex;
          gap: 50px;

          .date_con {
            min-width: 120px;
            width: 120px;

            h6 {
              text-transform: uppercase;
              color: $primary_color;
              white-space: nowrap;
              font-size: 13px;
              margin-top: 8px;
              font-weight: 500;
            }
          }

          h3 {
            text-transform: capitalize;
            font-weight: 500;
            font-size: 16px;
          }

          p {
            padding: 15px 0 18px 0;
            line-height: 25px;
          }

          .skills_con {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            span {
              font-weight: 500;
              text-transform: capitalize;
            }
            small {
              color: rgb(183, 177, 177);
            }
          }
        }
      }

      @media (max-width: 900px) {
        .box_con .box {
          flex-direction: column;
          gap: 10px;
        }
      }
    }

    .skill_section {
      margin-top: 60px;

      h2 {
        font-size: 20px;
      }

      .skills {
        padding: 20px 0;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        span {
          font-weight: 500;
          text-transform: capitalize;
        }
        small {
          color: rgb(183, 177, 177);
        }
      }
    }

    .achievement_section {
      margin-top: 60px;

      h2 {
        font-size: 20px;
      }
      .wrapper {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .box {
          a {
            text-transform: capitalize;
            font-size: 15px;
            color: $text_color;
            font-weight: 600;
            transition: 0.4s ease;

            span {
              font-size: 15px;
              color: $text_color;
              padding: 5px 0 0 5px;
            }

            &:hover {
              color: $primary_color;

              span {
                color: $primary_color;
              }
            }
          }

          ul {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
              display: flex;
              gap: 5px;

              span {
                margin-top: 1px;
                font-size: 16px;
              }

              b {
                font-weight: 500;
              }

              p {
                line-height: 25px;
              }
            }
          }
        }
      }
    }
  }
}
