@import "../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font1;
  text-decoration: none;
}

p,
li,
span {
  font-size: 14px;
  color: $text_color_alt;
  list-style: none;
}

h1,
h2 {
  font-family: $font2;
}

h3,
h4,
h5,
button {
  font-family: $font3;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: $bg_color_light;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;

  @media (max-width: 425px) {
    width: 90%;
  }
}

.container2 {
  width: 70%;
  margin: 0 auto;

  @media (max-width: 425px) {
    width: 80%;
  }
}

img {
  width: 100%;
  height: 100%;
}

button {
  text-transform: capitalize;
  font-size: 15px;
  border: none;
  outline: none;
  background: black;
  color: white;
  padding: 15px 40px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.4s ease;

  &:hover {
    padding: 15px 60px;
  }
}

.section_wrapper {
  position: relative;

  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 1000;
    transition: 0.4s ease;
    animation: animate 1000ms;
    top: 0;
    transform: translateY(110%);

    @keyframes animate {
      0% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(110%);
      }
    }
  }
}

.section_wrapper2 {
  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100vh;
    background: $bg_color_light;
    z-index: 1000;
    transition: 0.4s ease;
    animation: animate 1000ms;
    top: 0;
    transform: translateY(-110%);

    @keyframes animate {
      0% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(-110%);
      }
    }
  }
}
