@import "./variables.scss";

.home_section {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  .container {
    display: flex;
    justify-content: space-between;
    gap: 60px;

    .txt_con {
      width: 400px;
      padding-top: 60vh;

      h3 {
        text-transform: uppercase;
        font-weight: 300;
        color: $text_color;
        font-size: 20px;
        font-weight: 500;
        font-family: $font3;
      }

      .job_tag {
        text-transform: capitalize;
        font-family: $font3;
        font-weight: 400;
        font-size: 16px;
        color: $primary_color;
        padding-top: 5px;
      }

      .txt {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    .navigators {
      width: calc(100% - 400px);
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      gap: 10px;

      a {
        text-transform: uppercase;
        font-family: $font2;
        font-weight: 600;
        font-size: 130px;
        color: $text_color;
        line-height: 130px;
        transition: 0.4s ease;

        &:hover {
          transform: translateX(20px);
        }
      }
    }

    @media (max-width: 1100px) {
      .navigators {
        a {
          font-size: 100px;
        }
      }
    }

    @media (max-width: 450px) {
      .navigators a {
        font-size: 60px;
      }
    }
  }

  @media (max-width: 900px) {
    margin-top: 130px;
    height: fit-content;

    .container {
      flex-direction: column;
      gap: 40px;

      .txt_con {
        width: 100%;
        padding-top: 0;
      }

      .navigators {
        width: 100%;
        gap: 0;
        margin-top: 0;

        a {
          line-height: normal;
        }
      }
    }
  }
}
