$text_color: black;
$text_color_alt: rgb(96, 96, 96);
$primary_color: green;

$text_color_light: #ece7e1;
$text_color_light_alt: #c2c1bf;

$bg_color: #1a1818;
$bg_color_light: #faf8f7;

$font3: "Kanit", sans-serif;
$font1: "Montserrat", sans-serif;
$font2: "Bungee", sans-serif;
