$text_color: black;
$text_color_alt: rgb(112, 112, 112);
$text_color_alt2: rgb(24, 24, 24);

$text_color_light: #ece7e1;
$text_color_light_alt: #c2c1bf;

$bg_color: #1a1818;
$bg_color_light: #ece7e1;

$font1: "Montserrat", sans-serif;
$font2: "Original Surfer", sans-serif;
